{% extends "layout.html" %}

{% block title %}
    Chang Portfolio
{% endblock %}

{% block body %}
    <header>
        <div class="container navbar">
            <div class="lgo">
                <h1>
                    Chang
                </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#about">about me</a></li>
                    <li><a href="#testimonials">testimonials</a></li>
                    <li><a href="#work">my work</a></li>
                    <!------"like" button  ------"div id="like_button_container"></!--div-->
                </ul>
            </nav>
            <!---- js for "like" button -------"script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></!----script>
                    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
                    <script src="like_button.js"></script----->
        </div>
    </header>
    <div class="container main-info-section">
        <div class="text">
            <h1>
                <span>H</span>
                <span class="m-left">i</span>
                <span class="m-left">,</span>
                <br>
                <span>I</span>
                <span class="m-left">'</span>
                <span class="m-left">m</span>
                <span class="name">C</span>
                <span class="m-left name">h</span>
                <span class="m-left name">a</span>
                <span class="m-left name">n</span>
                <span class="m-left name">g</span>
                <span class="m-left ">,</span>

                <br>
                <br>
                <span>F</span>
                <span class="m-left">r</span>
                <span class="m-left">o</span>
                <span class="m-left">n</span>
                <span class="m-left">t</span>
                <span class="m-left">-</span>
                <span class="m-left">e</span>
                <span class="m-left">n</span>
                <span class="m-left">d</span>
                <br>
                <span>D</span>
                <span class="m-left">e</span>
                <span class="m-left">v</span>
                <span class="m-left">e</span>
                <span class="m-left">l</span>
                <span class="m-left">o</span>
                <span class="m-left">p</span>
                <span class="m-left">e</span>
                <span class="m-left">r</span>
                <span class="m-left">.</span>
            </h1>
            <p class="sub" id="t1">web development/ IOS development</p>
            <p class="sub" id="t1">Java/ MySQL/ Verilog</p>
            <a href="#contact">
                <em>contact me</em>
            </a>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
        <figure class="profile-image">
            <img src="{{ url_for('static', filename='images/profile-image.jpg') }}" alt="personal image">
        </figure>
    </div>
    <div class="container about" id="about">
        <h1>About</h1>
        <div class="about-me-info">
            <p> I am a forth-year undergraduate student at Carleton University, where I found my pasion in web design and web development.</p>
            <p> I am an organized, result-orientated person who is committed to get the job done.</p>
            <p> Outside of work, I live it up by kickboxing, and asian-food cooking. I tend to combine the beauty of calligraphy into the front-end web design.</p>
            <p> I am interested in the entire front end spectrum and working on ambitious projects with positive people.</p>
        </div>
    </div>
    <div class="container skills" id="testimonials">
        <h1>Testimonials</h1>
        <p class="skills-info"> "I’ve been consistently impressed by her organizational skills and grace as well as focus under pressure. She strives to achieve her objectives and deliver on time, showing a capacity to learn quickly in a fast-paced environment. ".
            <p class="quote"> --Marc Lanoue, Engineering Product Manager, Faiveley Vapor Rail (a Wabtec Company)</p>
            <p class="skills-info"> "Chang is a smart and nice person. She worked with me as the Software Engineer Intern at Vapor Rail (a Wabtec company) about one year. During that time she was responsible for software validation. I’m amazed by Chang's ability to learn quickly,
                and to finish job with high quality. As a team member, Chang always presented positive attitude at work, and all of team members like to work with her. I’m happy that I had a chance to work with her, and I give her my full recommendation."
                <p class="quote">-- James Lin, Senior Software Engneer, Faiveley Vapor Rail (a Wabtec Company)</p>
    </div>
    <div class="container work" id="work">
        <h1>Work</h1>
        <div class="Work-category">
            <button id="w3-button" class="active" oneclick="showRequiredCategory(this)">web-game</button>
            <button id="w3-button" class="active" oneclick="showRequiredCategory(this)">IOS app</button>
            <div class="image showCategory">
                <iframe name="Framename" src="{{ url_for('game') }}" style="-webkit-transform:scale(0.8); " width="600 " height="500 " frameborder="0 " scrolling="auto " class="frame-area ">
                        </iframe>
            </div>

            <div class="image showCategory ">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cd_hh4xY03M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container contact " id="contact ">
            <h1>Contact</h1>
            <form>
                <div class="form ">
                    <div>
                        <label for="name ">Fill in your name:</label>
                        <input type="text " id="name " name="name " placeholder="name ">
                        <label for="email ">Fill in your e-mail:</label>
                        <input type="text " id="e-mail " name="e-mail " placeholder="xxxx@xxxx.xxx ">
                        <label for="Subject ">Fill in your subject:</label>
                        <input type="text " id="subject " name="subject " placeholder="subject ">
                        <label for="message ">Fill in your message:</label>
                        <br>
                        <!--input type="text " id="message " name="message " placeholder="message "-->
                        <textarea class="message " name="message " id=" " cols="54 " rows="20 "></textarea>
                        <br>
                        <button class="w3-button w-3-round-XXlarge " submit="submit"> SUBMIT</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}