{% extends "layout.html" %}

{% block title %}
Chang Portfolio
{% endblock %}

{% block body %}
<div id="app">
    <header>
        <div class="container nav jb-mono-extra-bold">
            <div class="lgo">
                <h1>
                    Chang
                </h1>
            </div>

            <!--<nav-bar v-bind:navbar="['about me', 'testimonials', 'work']">
                <template slot-scope="data">
                    <div>
                        <em v-text="data.nav"></em>
                    </div>
                </template>
            </nav-bar>-->
        </div>
    </header>
    <div class="container main-info-section">
        <info>
            <template></template>
        </info>

        <a href="#contact">
            <em>contact me</em>
        </a>
        <figure class="profile-image">
            <img src="{{ url_for('static', filename='images/profile-image.jpg') }}" alt="personal image">
        </figure>
    </div>

    <div class="container about" id="about">
        <h1>About</h1>
        <about-me></about-me>
    </div>

    <div class="container skills" id="testimonials">
        <h1>Testimonials</h1>
        <testimonial></testimonial>
    </div>

    <div class="container work" id="work">
        <h1>Work</h1>
        <div class="Work-category">
            <button class="button is-danger is-light" oneclick="showRequiredCategory(this)">web-game</button>
            <button class="button is-danger is-light" oneclick="showRequiredCategory(this)">IOS app</button>
        </div>
    </div>
    <div class="image showCategory ">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cd_hh4xY03M"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </div>
    <div class="container contact " id="contact ">
        <h1>Contact</h1>
    </div>
    <contact-form>
    </contact-form>
</div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
